.product-item {
    padding: 20px;
    max-width: 250px;
    min-height: 410px;
    background-color: #FFF;
    border-radius: 20px;
}

.product-item__img {
    max-width: 250px;
    border-radius: 20px;
}

.product-item__price {
    font-size: 23px;
    font-weight: 700;
}
.product-item__old-price {
    display: inline-block;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 400;
    color: #CFCFCF;
    text-decoration: line-through;
}

.product-item__new-price {
    font-size: 23px;
    font-weight: 700;
    color: #00CF00;
}

.product-item__title {
    font-size: 17px;
    font-size: 400;
}
